.justified {
  display: flex;
  justify-content: space-between;
}

.cardItem {
  padding: 10px 0 0 10px;
  margin: 7px;
  border: 1px solid #a7a7a7;
  border-radius: 10px;
}

.cardText {
  color: #6c757d;
}

.bold {
  font-weight: bold;
}

.cardTitleText {
  color: #212529;
}

.avatar {
  border-radius: 50%;
  max-width: 50px;
  padding-right: 5px;
}

.ttt {
  padding: 10px;
  justify-content: space-around;
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 20px;
  position: absolute;
  right: 15px;
  font-size: 18px;
  color: #6c757d;
  font-weight: bold;
}

.taskBottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 30px;
  font-weight: bold;
}

.tools {
  font-weight: bold;
  color: #6c757d;
}

input[type="text"] {
  border: 1px solid rgb(173, 173, 173);
}

/* Toggle switch */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #19c509;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* End Toogle switch */
